*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div#container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    /* overflow: hidden; */

    width: 50%;
    height: 50%;

    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);

    border: 10px solid black;
}
div#image-background{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 7000px;
    
    position: absolute;
    right: 50%;
    bottom: 0%;
    z-index: -1;
    transform: translate(50%);
    
    background-image: url(../img/background-img.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    border: 10px solid green;
}
div#character{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 50px;

    position: absolute;
    bottom: 0;

    border: 10px solid purple;
}
div#character img{
    width: 100px;
    border: 10px solid red;
}

div.platform{
    height: 15px;
    background-color: blue;
    position:  absolute;
}